html, body {
    height: 100%;
    background-color: #9ca8ba;    
}

.titlebox {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: white;
}

.titlebox .name {
    font-size: 50px;
}

.titlebox .titleline{
    font-style: italic;
}

a.orchid {
    vertical-align:top;
    padding-left: 5px;
}

img.orchid {
    width:1em;
    margin-right:.5em;
}

.portfolio {
    padding: 10px;
    margin: 0px;
}

.portfolio .floatinglinks {
    margin-top: 15px;
    margin-left: 15px;
    right: 30px;
    position: fixed;
}

.portfolio .floatinglinks a {
    font-size: 20px;
    padding: 0px;
    text-decoration: none;
    color: white;
    width: 100%;
}

.portfolio .portfolio-item {
    width: 15%;
    overflow: hidden;
    margin: 15px;
    display: inline-block;
    position: relative;
}

.portfolio .portfolio-item a {
    width: 100%;
    position: absolute;
    left: 0px;
    padding-top: 20%;
    padding-bottom: 40%;
    top: 0%;
    margin: auto;
    text-decoration: none;
    color: black;
    font: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    z-index: 100;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}

.portfolio .portfolio-item:hover a {
    visibility: visible;
}

.portfolio .portfolio-item img {
    width: 100%;
    height: 100%;
    z-index: 1;
}
